[user]
	name = Øyvind Øvergaard
	email = oyvind.overgaard@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    who = shortlog -s --
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git


