[user]
	name = Øyvind Øvergaard
	email = oyvind.overgaard@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	who = shortlog -s --
	unstage = reset HEAD
	ap = add --patch
	dfst = diff --stat -r
[pack]
	threads = 0
[core]
	autocrlf = input
[branch]
    autosetupmerge = always
[push]
    default = tracking
